body{
	margin: 0px;
	font-family: Malgun Gothic;
	font-size: 13px;
}
	.dark-body{ opacity: 0.7; }
button, select, textarea{ padding: 0px; border: 0px; margin: 0px; font: inherit; }
	button:focus, input:focus, select:focus, textarea:focus{ outline: 1px solid skyblue; }
code{ border-radius: 5px; font-family: Consolas; color: #444; background-color: #DDD; }
iframe{ width: 100%; height: 36vh; max-width: 600px; min-height: 240px; }
input{ font: inherit; }
p, pre{ display: inline; margin: 0px; }
	p::after{ display: block; content: ""; }
ol, ul{ margin: 2px; }
blockquote{ display: inline; padding-left: 4px; border-left: 4px solid gray; margin: 2px; }
.ellipse{
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

/* 대화 상자 */
.dialog{
	position: fixed;
	box-shadow: 0px 1px 1px #444;
	background-color: #EEE;
	z-index: 2;
}
	.diag-head{
		float: left;
		width: 100%;
		padding: 2px 0px;
		border-bottom: 1px solid #AAA;
		margin-bottom: 4px;
		background-color: #DDD;
	}
		.diag-title{ float: left; width: calc(100% - 28px); padding-left: 4px; cursor: move; }
		.diag-close{
			float: left;
			width: 12px;
			height: 12px;
			border-radius: 6px;
			margin: 2px 4px 0px 8px;
			cursor: pointer;
			background-color: #F77;
		}
			.diag-close:hover{ background-color: #F88; }
	.diag-body{ padding: 2px; }
		.diag-bar{ float: left; margin: 1px 0px; width: 100%; }
			.diag-bar>label{ display: block; float: left; width: 100px; }
			.diag-bar>input{
				box-sizing: border-box;
				width: calc(100% - 100px);
			}
			.diag-bar>input[type="checkbox"]{ width: initial; }
		.diag-tail{ position: absolute; bottom: 1px; width: calc(100% - 4px); }
			.diag-tail>button{ float: right; padding: 2px 0px; margin: 0px 1px; width: 80px; }
			.ok-button{ color: royalblue; background-color: lightskyblue; }
			.diag-tail>button:disabled{ color: gray; background-color: #AAA; }
	.diag-action{
		float: right;
		width: 20px;
		height: 16px;
		margin: 2px;
		background: none;
	}
		.diag-action:hover{ background-color: white; }
	.diag-label{
		float: left;
		width: 100% !important;
		font-size: 11px;
		text-align: center;
	}
/* 대화 상자 - notice */
#diag-notice-head{ background-color: whitesmoke; }
#diag-notice-body{ width: 100%; height: 215px; overflow-y: scroll; }